.login-page {
    display: flex;
    flex: 1;
}

.align-left {
    display: flex;
    width: 100%;
}

.align-center {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    overflow-y: auto;
}

.row-gap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2vh;
    align-self: stretch;
}

.login-content {
    display: flex;
    flex-direction: column;
    width: 74%;
    height: 100%;
    justify-content: center;
    gap: 5.5vh;
    box-sizing: border-box;
}

.login-welcome {
    color: #FFF;
    font-family: Plus Jakarta Sans;
    font-size: 2em;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2;
    overflow-wrap: break-word;
}

.login-welcome-text {
    color: #9B9C9E;
    font-family: Plus Jakarta Sans;
    font-size: 1em;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.15px;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 4vh;
}

.input-container {
    display: flex;
    height: 48px;
    align-items: center;
    align-self: stretch;
    border-radius: 8px;
    background: #1A1D21;
    border: 1px solid var(--noble-black-500, #363A3D);
}
.input-container:focus-within {
    border: 1px solid var(--gradients-blue-green-500, #82DBF7);
    box-shadow: 0px 0px 0px 4px rgba(132, 220, 245, 0.24);
}

.hint {
    padding: 0 2%;
}

.login-input {
    border-radius: 8px;
}
.login-input::placeholder {
    color: #9B9C9E;
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.15px;
}

.input-misc {
    display: flex;
    align-self: stretch;
    align-items: center;
    justify-content: space-between;
}

.remember-container {
    display: flex;
    align-items: center;
    gap: .5vw;
}

#remember-checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
	appearance: none;
    padding: 12px;
    border-radius: 10%;;
    background: #1A1D21;
    border: 1px solid var(--noble-black-500, #363A3D);
	position: relative;
}
#remember-checkbox:checked {
    background: #363A3D;
}
#remember-checkbox:checked::before {
	content: '\2714';
	position: absolute;
	color: #99a1a7;
}

.remember-label {
    color: var(--Noble-Black-200, #CDCECF);
    font-family: Plus Jakarta Sans;
    font-size: 90%;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.15px;
}

.font-gradient {
    font-family: Plus Jakarta Sans;
    font-size: 100%;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0.15px;
    background: var(--gradients-blue-green-500, linear-gradient(45deg, #82DBF7 0%, #B6F09C 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.font-gradient:hover {
    background: var(--gradients-blue-green-500, linear-gradient(45deg, #44caf3 0%, #80ee4e 100%));
    background-clip: text;
    -webkit-background-clip: text;
}

.submit-button {
    display: flex;
    height: 48px;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    background: var(--stem-green-500, #B6F09C);
}

.submit-label {
    color: #0C1132;
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: 0.15px;
}

.space-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.divide-line {
    display: flex;
    width: 37%;
    height: 1px;
    background: #363A3D;
}

.divider-label {
    color: var(--Noble-Black-400, #686B6E);
    font-family: Plus Jakarta Sans;
    font-size: 75%;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.15px;
    text-align: center;
}

.social-container {
    display: flex;
    align-self: stretch;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    background: var(--Noble-Black-600, #1A1D21);
    width: 45%;
    height: 48px;
    gap: 0.8vw;
}

.social-icon {
    display: flex;
    align-items: center;
}

.font-social {
    color: var(--Noble-Black-400, #686B6E);
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0.15px;
}

.sunset {
    width: 50%;
    height: 100%;
    opacity: .8;
    background: url('./sunset.png') no-repeat center/cover, lightgray;
    filter: blur(.2vh);
}